@import 'tailwindcss';

@theme {
    /* Colors */
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;

    --color-border: hsl(0, 0%, 89.8%);
    --color-input: hsl(0, 0%, 89.8%);
    --color-ring: hsl(0, 0%, 3.9%);
    --color-background: hsl(0, 0%, 100%);
    --color-foreground: hsl(0, 0%, 3.9%);

    --color-primary: hsl(0, 0%, 9%);
    --color-primary-foreground: hsl(0, 0%, 98%);
    --color-secondary: hsl(0, 0%, 92.1%);
    --color-secondary-foreground: hsl(0, 0%, 9%);
    --color-muted: hsl(0, 0%, 96.1%);
    --color-muted-foreground: hsl(0, 0%, 45.1%);
    --color-accent: hsl(0, 0%, 96.1%);
    --color-accent-foreground: hsl(0, 0%, 9%);
    --color-destructive: hsl(0, 84.2%, 60.2%);
    --color-destructive-foreground: hsl(0, 0%, 98%);
    
    /* Radius */
    --radius-md: 0.5rem;
}

/* Base custom layer styles */
body {
    font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    background-color: var(--color-background);
    color: var(--color-foreground);
}